@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jura:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abel, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1 {
    font-family: Jura, sans-serif;
    letter-spacing: 20px;
    color: #031f0b;
}

#logo {
    font-size: 500%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}

/*navigation links */

#menu {
    font-size: 150%;
    display: table;
    margin: auto;
    padding: 10px;
    list-style-type: none;
}

#menu li {
    float: left;
    padding: 20px 65px;
}

li a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 10px;
    text-indent: 10px;
}

a:hover {
    border: 1px solid #ffffff;
    margin: -1px;
}

.active {
    border: 1px solid #ffffff;
    margin: -1px;
}

/* hero image and cover text*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero\ image\ 2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: auto;
}

#cover-text {
    color: #031f0b;
    font-size: 200%;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-left: 50px;
    padding: 20px;
    width: 60%;
    height: 30%;
    background-color: rgba(237, 242, 239, .6);

}

#cover-text h2 {
    font-size: 200%;
}

/* reasons to join */

#reasons {
    height: 600px;
}

#reasons-why {
    padding-top: 30px;
    width: 50%;
    float: left;
}
