@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jura:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abel, sans-serif;
}

/* headings and logo */

header>#logo {
    font-family: Jura, sans-serif;
    letter-spacing: 20px;
    color: #343d46;
    text-indent: 25px;
}

#logo {
    font-size: 500%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}

a>#logo {
    font-family: Jura, sans-serif;
    letter-spacing: 20px;
    color: #343d46;
    text-indent: 25px;
}

a:link {
    text-decoration: none;
}

/*navigation links */

#menu {
    font-size: 150%;
    display: table;
    margin: auto;
    padding: 10px;
    list-style-type: none;
}

#menu li {
    float: left;
    padding: 20px 65px;
}

nav a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 10px;
    text-indent: 10px;
}

nav a:hover {
    border: 1px solid #ffffff;
    margin: -1px;
}

/* hero image and cover text*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero.png) no-repeat center center;
    background-size: cover;
    margin: auto;
    position: relative;
}

#cover-text {
    font-family: Jura, sans-serif;
    color: #fafafa;
    font-size: 200%;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-left: 50px;
    width: 70%;
    background: transparent;
    position: absolute;
}

/* reasons to join */

#objectives-image-info {
    height: 400px;
}

#left-objectives {
    padding-left: 70px;
    width: 33%;
    float: left;
    font-size: 120%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ol>li {
    padding-bottom: 10px;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

/* launch info */

#right-launch-info {
    padding-right: 70px;
    width: 33%;
    float: right;
    font-size: 120%;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

table {
    margin-left: auto;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
}

table thead tr {
    background-color: #343d46;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 10px 15px;
}

table tbody tr {
    border-bottom: 1px solid #343d46;
}

table tbody tr:nth-of-type(even) {
    background-color: #343d46;
    color: #ffffff;
}

table tbody tr:last-of-type {
    border-bottom: 1px solid #343d46;
}

/* center image */

#center-image {
    padding-top: 40px;
}

#center-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #031f0b;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-cover-bg {
    background: url(../images/Rocket.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.section-heading-objectives {
    border-bottom: 2px solid #031f0b;
}

.section-heading-info {
    border-bottom: 2px solid #031f0b;
    text-align: right;
}

/* Form */

form h2 {
    font-size: 200%;
}

.contact-section {
    height: 300px;
    margin: 40px 400px 80px 400px;
    display: block;
    position: relative;
    padding: 10px 0px;
}

.contact-section::after {
    content: "";
    background: url(../images/contact.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.contact-form {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 50%;
    font-size: 120%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-input {
    box-sizing: border-box;
    width: 100%;
    color: #343d46;
    height: 30px;
    border: 1px solid #343d46;
    border-radius: 4px;
    padding-left: 2px;
    font-size: 100%
}

.text-input:hover {
    border-color: #343d46;
}

.make-contact {
    margin: 20px 0px;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    font-size: 120%;
    background-color: #343d46;
    color: #fafafa;
    display: block;
}

.make-contact:hover {
    background-color: #fafafa;
    color: #343d46;
}

/* footer */

footer {
    height: 150px;
    background-color: #343d46;
    position: relative;
}

.social-networks {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.social-networks>li {
    display: inline-block;
    padding: 20px;
}

.social-networks i {
    font-size: 200%;
    color: #fafafa;
}

.footer-center {
    font-size: 120%;
    color: #ffffff;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}

.address {
    color: #fafafa;
    font-size: 120%;
    text-align: right;
    float: right;
    list-style: none;
    transform: translateY(+25%);
    padding-right: 20px;
}

.address a:link {
    color: #ffffff;
    text-decoration: none;
}

.address a:visited {
    color: #ffffff;
    text-decoration: none;
}

.address a:hover {
    color: #228c22;
    text-decoration: underline;
}

/* gallery */

#gallery {
    column-count: 4;
    column-gap: 4px;
    margin: 0 4px;
}

#gallery>img {
    width: 100%;
}


/* Media queries */

/* For larger to medium screens size from 1400px wide and down */
@media screen and (max-width: 1400px) {

    #cover-text {
        font-size: 200%;
        width: 100%;
        text-align: center;
        top: 50%;
        margin: 0 auto;
    }

    #menu li {
        float: left;
        padding: 20px 20px;
        font-size: 100%;
    }

    #objectives-image-info {
        width: 90%;
        height: 950px;
        margin: 0 auto;
    }

    #left-objectives,
    #right-launch-info {
        width: 100%;
        padding: 40px 0;
    }

    .contact-section {
        width: 60%;
        margin: auto;
        margin-bottom: 60px;
    }

    .contact-form {
        width: 65%;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #logo {
        font-size: 200%;
    }

    #menu li {
        font-size: 80%;
        width: 100%;
    }

    nav a:hover {
        border: none;
        margin: 0 auto;
    }

    #cover-text {
        font-size: 150%;
    }

    #objectives-image-info {
        height: 1000px;
    }

    #center-image {
        margin: 0 auto;
    }

    .contact-section {
        width: 100%;
        margin: 0 auto;
    }

    .contact-form {
        width: 65%
    }

    .social-networks>li {
        padding: 10px;
    }

    #gallery {
        column-count: 2;
    }

    footer {
        height: 200px;
        background-color: #343d46;
        position: unset;
    }
    
    .social-networks {
        padding: 10px 0;
        position: unset;
        transform: translateY(-0%);
    }
    
    .social-networks>li {
        display: inline-block;
        padding: 0px 40px;
    }
    
    .social-networks i {
        font-size: 200%;
        color: #fafafa;
    }
    
    .footer-center {
        padding: 10px 0;
        position: unset;
        margin: 0 auto;
        transform: translateY(-0%);
    }
    
    .address {
        text-align: center;
        float: none;
        transform: translateY(+0%);
    }
}
