@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jura:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abel, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1 {
    font-family: Jura, sans-serif;
    letter-spacing: 20px;
    color: #031f0b;
}

#logo {
    font-size: 500%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}

/*navigation links */

#menu {
    font-size: 150%;
    display: table;
    margin: auto;
    padding: 10px;
    list-style-type: none;
}

#menu li {
    float: left;
    padding: 20px 65px;
}

li a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 10px;
    text-indent: 10px;
}

a:hover {
    border: 1px solid #ffffff;
    margin: -1px;
}

.active {
    border: 1px solid #ffffff;
    margin: -1px;
}

/* hero image and cover text*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero\ image\ 2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: auto;
}

#cover-text {
    color: #031f0b;
    font-size: 200%;
    letter-spacing: 10px;
    margin-top: 200px;
    margin-left: 50px;
    padding: 20px;
    width: 60%;
    height: 30%;
    background-color: rgba(237, 242, 239, .6);
}

#cover-text h2 {
    font-size: 200%;
}

/* reasons to join */

#reasons-image-info {
    height: 400px;
}

#left-reasons {
    padding-left: 70px;
    width: 33%;
    float: left;
    font-size: large;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* launch info */

#right-launch-info {
    padding-right: 70px;
    width: 33%;
    float: right;
    font-size: large;
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

table, tr, th, td {
    margin-left: auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

/* center image */

#center-image {
    padding-top: 40px;
    width: 33%;
    margin: 0 auto;
}

#center-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #031f0b;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-cover-bg {
    background: url(../images/Rocket.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.section-heading {
    border-bottom: 2px solid #031f0b;
}

/* Form */

.contact-section {
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    height: 600px;
    color: #fafafa;
}

.contact-form {
    background: url(../images/Contact.png) no-repeat center center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    width: 33%;
    font-size: large;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 1000px;
}

.text-input {
    color: #031f0b;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #031f0b;
}

.make-contact {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #031f0b;
    color: #fafafa;
    display: block;
}

.make-contact:hover {
    background-color: #fafafa;
    color: #031f0b;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}