@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jura:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Abel, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: Jura, sans-serif;
    letter-spacing: 20px;
    color: #000000;
}

#logo {
    font-size: 500%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}

/*navigation links */

#menu {
    font-size: 150%;
    display: table;
    margin: auto;
    padding: 10px;
    list-style-type: none;
}

#menu li {
    float: left;
    padding: 20px 65px;
}

li a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 10px;
    text-indent: 10px;
}

a:hover {
    border: 1px solid #ffffff;
    margin: -1px;
}

.active {
    border: 1px solid #ffffff;
    margin: -1px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero\ image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
}

#hero-outer {
    height: 600px;
    width: 100%;
}

